#form {
  width: 80rem;
}

.large {
  width: 50rem;
}

.medium {
  width: 25rem;
}

.short {
  width: 10rem;
}

.horizontal {
  display: flex;
  width: inherit;
  justify-content: space-between;
}

.checkbox {
  outline: none;
  box-shadow: none;
}

.header-table {
  background-color: rgb(75, 75, 75);
  color: white;
  font-size: 1.8rem;
  font-weight: normal;
  border-bottom: 4px solid black;
}

.invalid-value {
  font-size: 1.1rem;
  color: red;
  display: block;
}

td {
  border-bottom: 2px solid black;
  font-size: 1.6rem;
}
